<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      line-height: 1.5;
      background-color: #f7f7f7;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
      font-size: 24px;
      color: #333;
      margin: 0 0 20px;
    }

    p {
      font-size: 16px;
      color: #555;
      margin: 0 0 10px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 10px;
      border-bottom: 1px solid #ddd;
      text-align: left;
    }

    th {
      background-color: #f5f5f5;
      font-weight: bold;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #4CAF50;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
      font-size: 16px;
      transition: background-color 0.3s;
    }

    .button:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Xác nhận đơn hàng - Xin cảm ơn!</h1>
    <p>Xin chào {{name}},</p>
    <p>Cảm ơn bạn đã đặt hàng với chúng tôi. Chúng tôi vui mừng thông báo với bạn rằng đơn đặt hàng của bạn đã được xử lý thành công và hiện đang được chuẩn bị để giao hàng.</p>
    <p>Dưới đây là tóm tắt đơn đặt hàng của bạn:</p>
    <table>
      <thead>
        <tr>
          <th>Tên mặt hàng</th>
          <th>Hình ảnh</th>
          <th>Giá</th>
          <th>Số lượng</th>
          <th>Tổng tiền</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
        <tr>
          <td>{{product.name}}</td>
          <td><img src={{product.thumbnailUrl}} alt="Product 1" width="50" height="50"></td>
          <td>{{price}}</td>
          <td>{{quantity}}</td>
            <td>{{formatCurrencyVND total}}</td>
        </tr>
        {{/each}}
       
        <!-- Add more rows for additional products -->
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">Tạm tính:</td>
          
          <td>{{formatCurrencyVND totalValue}}</td>
        </tr>
        {{#if saleValue}}
        <tr>
          <td colspan="4">Giảm giá:</td>
          <td>{{formatCurrencyVND saleValue}}</td>
        </tr>
        {{/if}}
        <tr>
          <td colspan="4">Tổng cộng:</td>
          
          <td>{{formatCurrencyVND actualValue}}</td>
        </tr>
      </tfoot>
    </table>
    <p>Đối với bất kỳ câu hỏi hoặc thắc mắc liên quan đến đơn đặt hàng của bạn, xin vui lòng liên hệ với</p>
  </div>
</body>
</html>
